{% extends "base.html" %}
{% load i18n %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/login.css" />
{% endblock %}

{% block content %}
<article class="main-call" id="access">
        <h2>Login</h2>
        <p>{% trans "In order to pay your registration for attending to PythonBrasil[10] or to propose a talk, an account is required. Please, log in or sign up, if you don't have an account yet." %}</p>

        <h2>{% trans "Log In" %}</h2>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <p><a href={% url password_reset %}>{% trans "Forgot your password?" %}</a></p>
            <p><button class="btn btn-pybr btn-login" type="submit">{% trans "Log In" %}</button></p>
        </form>
        <br>
       
        <h2>{% trans "Don't have an account yet? Sign Up now!" %}</h2>
        <form method="post" action="{% url registration_register %}">
            {% csrf_token %}
            {{ registration_form.as_p }}
            <p><button class="btn btn-pybr btn-register" type="submit">{% trans "Sign Up" %}</button></p>
        </form>
       
</article>
{% endblock %}
