{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{% trans "About" %} | PythonBrasil[10]{% endblock %}
{% block og_title %}{% trans "About" %} | PythonBrasil[10]{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/footable-0.1.css' %}" />
{% endblock %}

{% block content %}
    <article class="main-call">
      <h2>{% trans 'The Conference' %}</h2>
      <p>
        {% blocktrans %}
            The PythonBrazil is currently considered one of the main tech events at Latin America.
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}

            It gathers several developers, managers, researchers and anyone interested during 5 days to discuss about open-source, development techniques and of course, Python! 
        {% endblocktrans %}
      </p>
      <p>
        {% blocktrans %}
            We are celebrating our 10th edition, where for the first time, hosted at Northeast of Brazil, in the cities: Recife and Porto de Galinhas, Pernambuco, the land of frevo songs and crabs. It will be an unique event with a enjoyable experience to everyone.
        {% endblocktrans %}
      </p>

      <h2>{% trans "Subscriptions" %}</h2>
      <br>
      <div class="grid-100 border-content">
        <div class="session-selection">
          <table class="footable grid-100">
            <thead>
              <tr>
                <th>{% trans "Batches" %}</th>
                <th>{% trans "Dates" %}</th>
                <th>{% trans "Prices for Apyb Members" %}</th>
                <th>{% trans "Prices for non-Members" %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{% trans "First batch" %}</td>
                <td>{% trans "July 2nd to August 17th" %}</td>
                <td>R$ 250,00</td>
                <td>R$ 350,00</td>
              </tr>
              <tr>
                <td>{% trans "Second batch" %}</td>
                <td>{% trans "August 18th to September 30th" %}</td>
                <td>R$ 250,00</td>
                <td>R$ 350,00</td>
              </tr>
              <tr>
                <td>{% trans "Third batch" %}</td>
                <td>{% trans "October 1st to November 7th" %}</td>
                <td>R$ 250,00</td>
                <td>R$ 350,00</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <h2>{% trans "Call for Papers" %}</h2>
        <p>
          {% blocktrans %}
            From July 7th to August 10th
          {% endblocktrans %}
        </p>

      <h2>{% trans 'Organizer' %}</h2>

      <p>
        {% blocktrans %}
            PythonBrazil 2014 is organized by the Pernambuco Python User Group (PUG-PE) with help of Apyb( PythonBrazil Association).
        {% endblocktrans %}
      </p>

    <div class="blog-news">
      
      <article class="blog-item">
          <h2>{% trans 'Contact' %}</h2>
        <ul class="contact">
          <li>Chair, Marcel Caraciolo: marcel@caraciolo.com</li>
          <li>Chair, Arthur Alvim: arth.alvim@gmail.com</li>
          <li>Chair, Renato Oliveira: renatooliveira.cin@gmail.com</li>
          <li>Organizing Commitee: organizers@pythonbrasil.org.br</li>
        </ul>
      </article>
    </div>
{% endblock %}

{% block 'javascript' %}
  <script src="{% static 'js/footable-0.1.js' %}" type="text/javascript"></script>
  <script type="text/javascript">
        $(function() {
          $('table').footable();
        });
  </script>
{% endblock %}