{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "About" %} | PythonBrasil[10]{% endblock %}
{% block og_title %}{% trans "About" %} | PythonBrasil[10]{% endblock %}

{% block content %}
    <article class="main-call">
      <h2>{% trans "The conference" %}</h2>
      <p>
            {% blocktrans %}
            PythonBrasil is the largest Brazilian gathering for the community using and developing the open-source Python programming language. It is a annual vibrant meeting ground to inspire, debate, make deals, motivate and connect face to face.
            {% endblocktrans %}
      </p>
    </article>

    <div class="blog-news">
      
      <article class="blog-item">
        <h2>Contact</h2>
        <ul class="contact">
          <li>Chair, Marcel Caraciolo: marcel@caraciolo.com</li>
          <li>Chair, Arthur Alvim: arth.alvim@gmail.com</li>
          <li>Organizing Commitee: organizers@pythonbrasil.org.br</li>
        </ul>
      </article>
    </div>
{% endblock %}
