{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block title %}{% trans "Badges" %} | PythonBrasil[10]{% endblock %}
{% block og_title %}{% trans "Badges" %} | PythonBrasil[10]{% endblock %}

{% block content %}
<style>
.code {
  display: block;
  background: lightgrey;
  padding: 10px;
  overflow: auto;
}
</style>

<div class="blog-news">
  <h3><span>{% trans 'Get a badge!' %}</span></h3>
  <article class="blog-item">
    {% get_current_language as LANGUAGE_CODE %}
    <img src="{% static 'images/badges/badge-'|add:request.LANGUAGE_CODE|add:'.png' %}" alt="{% trans "I'm Attending to PythonBrasil[10]" %}">
    <div class="code">
        <pre><code>
&lt;a href=&quot;http://2014.pythonbrasil.org.br/&quot; &gt;<br/>  &lt;img src=&quot;{% static 'images/badges/badge-'|add:request.LANGUAGE_CODE|add:'.png' %}&quot;<br/>  width=&quot;250&quot; height=&quot;276&quot; alt=&quot;Eu vou na PythonBrasil[10]&quot;/&gt;<br/>&lt;/a&gt;
</code></pre>
    </div>
  </article>
</div>
{% endblock %}
