<!DOCTYPE html>
{% load menu %}
{% load i18n %}
{% load setting %}
{% load compress %}
{% load static from staticfiles %}
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
  <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon" />
  <title>{% block title %}Python Brasil [10]{% endblock  %}</title>
  <!--[if lt IE 9]>
    <script src="js/html5.js"></script>
  <![endif]-->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,300italic,300' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="{% static 'css/grid.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  <link rel="alternate" type="application/rss+xml" title="RSS" href="{% url news:feed %}" />

  <script src="{% static "js/jquery-1.7.2.min.js" %}" type="text/javascript"></script>
  <script src="{% static "js/setlang.js" %}" type="text/javascript"></script>

  <!--[if (gt IE 8) | (IEMobile)]><!-->
  <!--<![endif]-->
  <!--[if (lt IE 9) & (!IEMobile)]>
  <![endif]-->
</head>
<body>
  <header class="maintop">
    <div class="grid-container">
      <h1 class="grid-80">
          <a href="{% url home %}">
            <img src="{% static 'images/header/pybr_logo_'|add:request.LANGUAGE_CODE|add:'.png' %}" alt="Python Brasil [10]"/>
        </a>
      </h1>
      <div class="grid-20 loginbtn">
        {% if request.user.is_authenticated %}
          <a class="white {% is_active request.path 'dashboard-index' %}" href="{% url dashboard-index %}" title="dashboard">  
            dashboard
          </a>
          <a class="white {% is_active request.path 'auth_logout' %}" href="{% url auth_logout %}">
            {% trans "Logout" %}
          </a>
        {% else %}
          <a class="white {% is_active request.path 'auth_login' %}" href="{% url auth_login %}">
            {% trans "Log In" %}
          </a>
        {% endif %}
      </div>
    </div>
    <div class="banner">
      <div class="banner-inner">
        <div class="grid-container">
          <div class="grid-20 mobile-grid-50 flags">
            <form action="/i18n/setlang/" method="post">
              {% csrf_token %}
              <input type="hidden" name="language" />
              {% get_language_info_list for LANGUAGES as languages %}
              {% for language in languages %}
                <a {% if LANGUAGE_CODE == language.code  %}class="active"{% endif %} href="javascript:;" class="btn-setlang" data-language="{{ language.code }}">
                    <img src="{{ STATIC_URL }}images/home/{{ language.code }}.png" alt="{{ language.name_local }}" />
                </a>
              {% endfor %}
            </form>
          </div>
          
          <h2 class="grid-80 mobile-grid-50 topdatecall">Recife<span>2014</span></h2>
          <div class="grid-100 carangueijo-big"><img src="{% static 'images/home/carangueijo460px.gif' %}" /></div>
        </div>
      </div>
    </div>
      <nav class="menu grid-container">
        <ul>
          <li>
            <a class="{% is_active request.path 'about' %}" href="{% url about %}">
              {% trans "About" %}
            </a>
          </li>
          <li>
            <a class="{% is_active request.path 'news:main' %}" href="{% url news:main %}">
              {% trans "Blog" %}
          </a>
          </li>
          {% comment %}
          <li>
            <a class="{% is_active request.path 'register' %}" href="{% url register %}">
              {% trans "Register" %}
            </a>
          </li>
          <li>
            <a class="{% is_active request.path 'schedule' %}" href="{% url schedule %}">
              {% trans "Talk Subscription" %}
          </a>
          </li>
          <li>
            <a class="{% is_active request.path 'custom-sponsors' %}" href="{% url custom-sponsors %}">
              {% trans "Sponsors" %}
          </a>
          </li>
          <li>
            <a class="{% is_active request.path 'venue' %}" href="{% url venue %}">
              {% trans "Venue" %}
            </a>
          </li>
          {% endcomment %}
          <li>
            <a href="http://www2.recife.pe.gov.br" target="_blank">
              Recife
            </a>
          </li>
        </ul>
      </nav>
  </header>
  <div class="subnav">
      {% block subnav  %}{% endblock %}
  </div>
  
  <div class="maincontent">
    <div class="grid-container">
      <section class="grid-65">
          {% block content %}{% endblock %}
      </section>
      <aside class="special-sponsor-aside grid-35">
        <a class="btn" href="{% url sponsors-info %}">
          {% trans "become a sponsor" %}
        </a>
        <ul class="sponsor-list">
          {% for sponsor in diamond_sponsors %}
          <li>
            <h4>DIAMOND</h4>
            <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name }}">
          </li>
          {% endfor %}
        </ul>
        <div class="how-sponsor-call">
          <p>{% trans 'Learn how to become a sponsor' %}<br />
          <span>{% trans 'ARE YOU SPEAKING OR ATTENDING?' %}</span></p>
          <a href="{% url badges %}" class="btn">{% trans 'grab a badge' %}</a>
        </div>

        <div class="socialmedia">
          <a href="https://www.facebook.com/pythonbrasil?fref=ts"><img src="{% static 'images/home/fb.png' %}" alt="Página do Facebook da Python Brasil"></a>
            <a href="https://twitter.com/pythonbrasil"><img src="{% static 'images/home/tt.png' %}" alt="Twitter da Python Brasil"></a>
        </div>
      </aside>
    </div>
  </div>
  <div class="grid-caranguejosmall grid-container">
      <img class="caranguejosmall" src="{% static 'images/home/caranguejo_small.png' %}" />
  </div>
  <div class="sponsors-list-bottom">
    <div class="grid-container">
      <ul class="sponsor-list">
        {% for sponsor in sponsors %}
        <li class="grid-25">
          <h4>{{ sponsor.category.name }}</h4>
          <img src="{{ sponsor.logo.url }}" alt="{{ sponsor.name  }}">
        </li>
        {% endfor %}
      </ul>
      <ul class="sponsor-list staff grid-100">
        <li class="grid-25">
          <h4>{% trans 'Organização' %}</h4>
          <img src="{% static 'images/patrocinadores/pug-pe.png' %}" alt="">
        </li>
        <li class="grid-25">
          <h4>{% trans 'Organização' %}</h4>
          <img src="{% static 'images/patrocinadores/logo-python-brasil.png' %}" alt="">
        </li>
        <li class="grid-25">
          <h4>{% trans 'Illustration' %}</h4>
          <img src="{% static 'images/patrocinadores/mascavo.png' %}" alt="">
        </li>
        <li class="grid-25">
          <h4>{% trans 'WebDesign & Front-End' %}</h4>
          <img src="{% static 'images/patrocinadores/umbu.png' %}" alt="">
        </li>
      </ul>
    </div>
  </div>

  <footer class="bottom">
    <div class="grid-container">
      <div class="grid-100 mobile-grid-100">
        <img src="{% static 'images/home/python_footer.png' %}" class="floatright" />
        <p>PythonBrasil is a non-proﬁt volunteer-driven conference for promoting the open-source Python programming language. It is supported by the Brazilian Python Association (APyB) and by the Python Software Foundation (PSF).</p>
        
      </div>
    </div>
  </footer>
</body>
</html>
