{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "CODE OF CONDUCT" %} | PythonBrasil[10]{% endblock %}
{% block og_title %}{% trans "CODE OF CONDUCT" %} | PythonBrasil[10]{% endblock %}

{% block content %}
      <article class="blog-item">
        <h2>Código de conduta para anti-assédio e anti-bullying</h2>
        <p>A Conferência Brasileira de Python – Python Brasil – é um evento comunitário voltado para formação de redes de colaboração entre a comunidade de desenvolvedores.</p>

        <p>Este Código de Conduta será aplicado durante a PythonBrasil[10] para todos os membros da comunidade e para qualquer pessoa que escolher se envolver no evento, mesmo que a Associação Python Brasil (APyB) não esteja totalmente envolvida com a organização do evento. O objetivo é proteger o público de danos e perigos morais.</p>

        <p>A PythonBrasil[10] dedica-se a promover uma comunidade respeitosa e livre de assédio para todos. Não toleramos qualquer forma de assédios ou intimidações de qualquer participante do evento ou de membros da comunidade.</p>

        <p>Expositores, patrocinadores, fornecedores e parceiros em geral também estão sujeitos à política anti-assédio. Em particular, não devem utilizar imagens, atividades ou materiais de conteúdo sexual. A equipe que trabalha nos estandes, inclusive voluntários, não devem trajar roupas ou uniformes sexualizados, tampouco incentivar qualquer forma de ambiente sexualizado.</p>

        <p>O assédio inclui comentários ofensivos, verbais ou eletrônicos, relacionados a características ou escolhas pessoais, bem como comentários ou imagens sexuais em espaços públicos ou digitais, intimidação deliberada, bullying, perseguição, encalço, fotografias ou gravações que gerem embaraço, interrupções reiteradas de palestras, bate-papos, reuniões eletrônicas de IRC, reuniões físicas ou outros eventos, contato físico inadequado ou atenção sexual indesejada. Espera-se que os participantes cumpram imediatamente solicitações para descontinuar qualquer assédio ou comportamento de bullying. Seja gentil com os outros. Não insulte ou deixe de lado outros participantes. Comporte-se profissionalmente. Lembre-se de que piadas de assédio, sexismo, racismo ou exclusão não são apropriadas para a Python Brasil. Os participantes que violarem tais regras podem ser convidados a se retirar da conferência, sem reembolso, a critério exclusivo dos organizadores.</p>

        <p>Se um participante se engajar em comportamento de assédio, os representantes da comunidade podem tomar medidas que considerem adequadas, desde alertas ao infrator até a expulsão de qualquer evento Python, listas de discussão, chats IRC, fóruns de discussão ou quaisquer outros canais de comunicações eletrônicas, a fim de resolver a questão. Tais medidas podem incluir o cancelamento da associação junto à APyB.</p>

        <p>Se você for assediado, perceber que alguém está sendo assediado, ou tem outras preocupações, por favor aja para interceptar ou peça ajuda aos organizadores ou representantes do evento, de modo a colocar a questão sob os cuidados da APyB.</p>

        <p>Obrigado por ajudar a fazer da Python Brasil um espaço acolhedor para todos.</p>

        <p>Este Código de Conduta foi adaptado a partir dos códigos de conduta utilizados pela <a href="https://us.pycon.org/2014/about/code-of-conduct/">PyCon US</a>, e estão licenciados sob a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported</a>.</p>
      </article>
{% endblock %}
