{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block title %}{% trans "News" %} | {{ post.title}} | PythonBrasil[10]{% endblock %}
{% block og_title %}{% trans "News" %} | {{ post.title }} | PythonBrasil[10]{% endblock %}

{% block content %}
<div class="blog-news">
  <h3><span>{% trans 'Last Posts' %}</span></h3>
  <article class="blog-item">
    <div class="date">
      <p>{{ post.published_at|date:"M"}}</p>
      <span>{{ post.published_at.day }}</span>
    </div>
    <h2>{{ post.title }}</h2>
    <p>{{ post.content|markdown }}</p>
    <a href="{% url news:main %}" class="btn floatright">{% trans 'Back' %}</a>
  </article>
</div>
{% endblock %}
