{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Schedule" %} | PythonBrasil[10]{% endblock %}
{% block og_title %}{% trans "Schedule" %} | PythonBrasil[10]{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/schedule.css" type="text/css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/schedule_google_drive.css" type="text/css" />
<style>
.grid-65 {
    width: 100%;
}
</style>
{% endblock %}


{% block content %}
<article class="main-call">
  <h2>{% trans "PythonBrasil[10] Schedule" %}</h2>
  <br/>
  <h4>{% trans "Tutoriais" %}</h4>
  <h5><a href="https://www.google.com.br/maps/place/R.+do+Apolo,+181+-+Recife,+PE,+50030-220/@-8.0609836,-34.8722445,17z/data=!3m1!4b1!4m2!3m1!1s0x7ab18a345477ec7:0x1c54d4cf050d6326?hl=en">Porto Mídia (Rua do Apolo, 181 - Recife)</a></h5>
  {% include "schedule_from_google_drive_tutorials.html" %}
<br/>
<br/>
  <h4>{% trans "Palestras" %}</h4>
  <h5><a href="https://www.google.com.br/maps/place/Hotel+Arma%C3%A7%C3%A3o/@-8.486124,-35.000724,17z/data=!4m2!3m1!1s0x7aa924946237369:0x18c2d56439c52faa?hl=en">Hotel Armação (Porto de Galinhas)</a></h5>
  {% include "schedule_from_google_drive.html" %}
</article>

<br />
<br />
<br />
<br />
<br />
<br />
<small>{% trans 'Schedule subject to change' %}</small>
{% endblock %}

{% block sidebar %}
{# get rid of sidebar #}
{% endblock %}
