<table class="waffle" cellspacing="0" cellpadding="0">
<tbody>
 <tr>
  <td class="s0" dir="ltr" colspan="4">
   Primeiro Dia
  </td>
 </tr>
 <tr>
  <td class="s0" dir="ltr" colspan="4">
   Thursday - 6th November
  </td>
 </tr>
 <tr>
  <td class="s1" dir="ltr">
  </td>
  <td class="s1" dir="ltr">
   Auditório
  </td>
  <td class="s1" dir="ltr">
   Sala A
  </td>
  <td class="s1" dir="ltr">
   Sala B
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   7:30
  </td>
  <td class="s0" dir="ltr" colspan="3">
   Cadastramento
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   8:30
  </td>
  <td class="s0" dir="ltr" colspan="3">
   Abertura (Auditório)
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   9:00
  </td>
  <td class="s3" dir="ltr" colspan="3">
   Fernando Perez (Auditório)
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   10:00
  </td>
  <td class="s4" dir="ltr" colspan="3">
   Coffee break
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr" rowspan="2">
   10:30
  </td>
  <td class="s5" dir="ltr" rowspan="2">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/tools-methodology/brainiak-api-um-plano-maligno-de-dominacao-semantica-hipermidia">
    Brainiak API: um plano maligno de dominação semântica hipermídia (Rodrigo Senra)
   </a>
  </td>
  <td class="s5" dir="ltr" rowspan="2">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/django/django-e-angular-o-caminho-das-pedras">
    Django e Angular: o caminho das pedras (Bruno, Santagada)
   </a>
  </td>
  <td class="s5" dir="ltr" rowspan="2">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/science/do-zero-a-contribuicao-a-comunidade-cientifica-com-python">
    Do zero a contribuição à comunidade científica com Python (Marco Rougeth)
   </a>
  </td>
 </tr>
 <tr>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   11:10
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/business/guia-do-freelancer-das-galaxias">
    Guia do Freelancer das Galáxias (Henrique Bastos)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/core-interpreters/timezona-como-manter-se-sao-lidando-com-tempo-e-timestamps-em-aplicacoes-python">
    TimeZona: Como manter-se são lidando com tempo e timestamps em aplicações Python (Cesar Kawakami)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/cloud-computing/python-na-cloud-do-jeito-certo">
    Python na Cloud do jeito certo. (Tarsis Azevedo, Cezar Sá Espinola)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   11:50
  </td>
  <td class="s4" dir="ltr" colspan="3">
   Almoço
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   14:00
  </td>
  <td class="s3" dir="ltr" colspan="3">
   Lynn Root (Auditório)
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   15:00
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/python-in-society/utilizacao-de-features-phones-para-o-controle-de-medicamentos-e-recenseamento-no-continente-africano">
    Utilização de features-phones para o controle de medicamentos e recenseamento no continente africano (Luiza Nunes)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/python-in-society/oxente-python-pt-br-ne">
    Oxente, Python PT-BR-NE (Luan Fonseca)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/tools-methodology/bi-sem-java-yes-we-can">
    BI sem Java, yes we can (Thiago Avelino)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   15:40
  </td>
  <td class="s4" dir="ltr" colspan="3">
   Coffee break
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   16:00
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/other/crawling-massivo">
    Crawling Massivo (Felipe Cruz)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/core-interpreters/um-python-3-para-a-todos-governar">
    Um python 3 para a todos governar (Cassio Botaro)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/web-frameworks/migrando-de-rubyevent-machine-para-pythontornado-e-sendo-feliz-com-isso">
    Migrando de ruby+event-machine para python+tornado e sendo feliz com isso (Cezar Sá Espinola)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   16:40
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/python-in-society/pythobrasil-minhas-10-python-brasil">
    PythoBrasil[:] - Minhas 10 Python Brasil! (Cláudio Berrondo)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/other/estrutura-de-dados-com-python">
    Estrutura de Dados com Python? (Fernando Masanori)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/other/python-vs-gopher">
    Python vs Gopher (Yamil Asusta)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   17:20
  </td>
  <td class="s3" dir="ltr" colspan="3">
   Lighting talks (Auditório)
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   18:00
  </td>
  <td class="s0" dir="ltr" colspan="3">
   Assembléia da APyB
  </td>
 </tr>
 <tr>
  <td class="s1" dir="ltr" colspan="4" rowspan="3">
   <br />
   <br />
   <br />
   <br />
  </td>
 </tr>
 <tr>
 </tr>
 <tr>
 </tr>
 <tr>
  <td class="s0" dir="ltr" colspan="4">
   Segundo Dia
  </td>
 </tr>
 <tr>
  <td class="s0" dir="ltr" colspan="4">
   Friday - 7th November
  </td>
 </tr>
 <tr>
  <td class="s1" dir="ltr">
  </td>
  <td class="s1" dir="ltr">
   Auditório
  </td>
  <td class="s1" dir="ltr">
   Sala A
  </td>
  <td class="s1" dir="ltr">
   Sala B
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   8:00
  </td>
  <td class="s0" dir="ltr" colspan="3">
   Cadastramento
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   8:30
  </td>
  <td class="s3" dir="ltr" colspan="3">
   Daniel Greenfeld - Pydanny (Auditório)
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   9:30
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/embedded-systems-mobile/pingo-api-universal-para-gpio">
    Pingo: API &quot;universal&quot; para GPIO (Luciano Ramalho)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://pyladiesnatal.github.io/#about">
    Painel Mulheres na Tecnologia (Pyladies)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/other/how-to-make-money-with-odoo">
    How to make money with odoo (Jaime Sanchez)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   10:10
  </td>
  <td class="s4" dir="ltr" colspan="3">
   Coffee break
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   10:40
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/ingles/enterprise-level-python">
    Enterprise level Python
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/python-in-society/novo-portal-modelo-python-e-plone-nos-municipios-brasileiros">
    Novo Portal Modelo: Python e Plone nos municípios brasileiros (Jean Ferri)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/other/explorando-scrapy-alem-do-tutorial">
    Explorando Scrapy além do tutorial (Elias Dorneles)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   11:20
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/ingles/building-solid-web-services-with-loads-and-vaurien">
    Building solid web services with Loads and Vaurien (Tarek Ziadé)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/plone/criando-testes-com-plone">
    Criando testes com plone (Héctor Velarde, Ramiro)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/business/morte-as-startups-vamos-ser-inovadores-de-verdade">
    Morte as Startup&#39;s, vamos ser Inovadores de VERDADE (Gileno Alves)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   12:00
  </td>
  <td class="s4" dir="ltr" colspan="3">
   Almoço
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   14:00
  </td>
  <td class="s3" dir="ltr" colspan="3">
   Alex Gaynor (Auditório)
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   15:00
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/python-in-society/pyladies-uma-iniciativa-que-promove-a-diversidade-na-comunidade-python">
    PyLadies - uma iniciativa que promove a diversidade na comunidade Python (Pyladies)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/web-frameworks/quokka-cms-vamos-criar-um-wordpress-em-python">
    Quokka CMS - Vamos criar um WordPress em Python? (Bruno Rocha)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/django/estamos-seguros-com-o-django">
    Estamos seguros com o Django? (Henr&quot;ikke&quot; Pereira)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   15:40
  </td>
  <td class="s4" dir="ltr" colspan="3">
   Coffee break
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   16:00
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/sysadmin-devop/voce-esta-preparado-para-o-caos">
    Você está preparado para o caos? (Andrews Medina)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/web-frameworks/construindo-um-feed-de-noticias-em-tempo-real-com-django-e-celery">
    Construindo um feed de notícias em &quot;&quot;tempo real&quot;&quot; com Django e Celery. (Gustavo Carvalho)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/business/jusbrasilpy">
    Jusbrasil.py (Gabriel Jordão, Osvaldo Matos Júnior)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   16:40
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/gui-programming/qt-pythonico">
    Qt Pythonico (Daker Fernandes)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/science/bokeh-powerful-interactive-visualizations-in-your-browser">
    ﻿Bokeh: Powerful Interactive Visualizations in your browser. (Damián Avila)
   </a>
  </td>
  <td class="s5" dir="ltr">
   <a target="_blank" href="http://2014.pythonbrasil.org.br/schedule/tools-methodology/detectando-problemas-localmente-para-nao-detecta-los-em-producao">
    Detectando problemas localmente para não detectá-los em produção. (André Augusto)
   </a>
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   17:20
  </td>
  <td class="s3" dir="ltr" colspan="3">
   Lighting Talks
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   17:50
  </td>
  <td class="s3" dir="ltr" colspan="3">
   José Valim (Auditório)
  </td>
 </tr>
 <tr>
  <td class="s2" dir="ltr">
   18:50
  </td>
  <td class="s0" dir="ltr" colspan="3">
   Encerramento
  </td>
 </tr>
</tbody>
</table>