{% extends "dashboard/base.html" %}
{% load i18n %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/dashboard-index.css" />
{% endblock %}

{% block content %}
<div class="row">
    <div class="column grid_12">
        <h1>{% trans "your account" %}</h1>
            <p>
            {% if not request.user.get_profile.name %}
                {% trans "In order to register to PythonBrasil[8], you still need to fill the required fields in" %} <a href="/dashboard/profile/">{% trans 'your profile' %}.</a>
            {% else %}

            {% endif %}
            </p>


    </div>
</div>
{% endblock %}
