{% extends "base.html" %}
{% load i18n %}
{% load markup %}

{% block css %}
{% endblock %}

{% block content %}
    <article class="main-call">
      <h2>{% trans 'The Conference' %}</h2>
      <p>
        {% blocktrans %}
            The PythonBrazil is currently considered one of the main tech events at Latin America. It gathers several developers, managers, researchers and anyone interested during 5 days to discuss about open-source, development techniques and of course, Python!  We are celebrating our 10th edition, where for the first time, hosted at Northeast of Brazil, in the capital of Recife, Pernambuco, the land of frevo songs and crabs. It will be an unique event with a enjoyable experience to everyone.
        {% endblocktrans %}
      </p>

      <h2>{% trans 'Organizer' %}</h2>

      <p>
        {% blocktrans %}
            PythonBrazil 2014 is organized by the Pernambuco Python User Group (PUG-PE) with help of Apyb( PythonBrazil Association).
        {% endblocktrans %}
      </p>

    </article>
    <div class="blog-news">
      <h3><span>{% trans 'Last Posts' %}</span></h3>
      {% for post in posts %}
      <article class="blog-item">
      <div class="date">
        <p>{{ post.published_at|date:"M"}}</p>
        <span>{{ post.published_at.day }}</span>
      </div>
      <h2>{{ post.title }}</h2>
      <p>{{ post.content|markdown|slice:"174" }}...</p>
      <a href="{% url news:post post.slug %}" class="btn floatright">{% trans 'more' %}</a>
      </article>
      {% endfor %}
    </div>
{% endblock %}
