{% extends "base.html" %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Sponsors Info" %} | PythonBrasil[10] {% endblock %}

{% block content %}
    <article class="main-call">
      <h2>{% trans "PythonBrasil Sponsoring" %}</h2>
      <p>{% trans "Interested in hiring talented Python hackers? Sponsor the conference and increase your company visibility." %}</p>
      <ul>
          <li><a href="{% static 'docs/python-brasil-10-prospectus-en.pdf' %}">{% trans "Sponsoring prospectus" %}</a></li>
      </ul>
    </article>
{% endblock %}

